// *** variables *** //

$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$light-gray: hsl(0, 0%, 86%);
$grayish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

// screen width break points
$width-md: 650px;
$width-lg: 800px;

// screen gutters
$gutter-md: 40px;
$gutter-sm: 20px;

// *** mix-ins *** //
@mixin btn(
  $w,
  $h,
  $fontSize: 16px,
  $color: $white,
  $bg: $cyan,
  $rad: calc($w / 2)
) {
  width: $w;
  height: $h;
  font-size: $fontSize;
  font-weight: 700;
  color: $color;
  background-color: $bg;
  border: none;
  border-radius: $rad;
  transition: opacity 200ms ease;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

@mixin link($hoverColor: $cyan, $color: $grayish-violet) {
  color: $color;
  font-size: 16px;
  font-weight: 500;
  transition: color 200ms ease;

  &:hover,
  &:focus {
    color: $hoverColor;
  }
}
