@use "../../styles/global";

.ctaBanner {
  padding: 50px global.$gutter-sm;
  background-image: url(/images/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-color: global.$dark-violet;

  @media (min-width: global.$width-md) {
    padding: 50px global.$gutter-md;
    background-image: url(/images/bg-boost-desktop.svg);
  }

  & h2 {
    font-size: 2rem;
    font-weight: 700;
    color: global.$white;
    margin-bottom: 15px;
    text-align: center;
  }

  & button {
    display: block;
    margin: 0 auto;
    @include global.btn(200px, 60px, 20px);

    @media (min-width: global.$width-md) {
      @include global.btn(150px, 40px);
    }
  }
}
